@font-face {
  font-family: "BinggraeTaom";
  src: url("font/BinggraeTaom.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: BinggraeTaom;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

header {
  padding: 15px 10%;
  text-align: right;
}

header button {
  font-family: BinggraeTaom;
  height: 30px;
  width: 100px;
  background-color: #4a148c;
  color: white;
  border: 2px solid #4a148c;
  border-radius: 25px;
  padding: auto;
  font-size: 17px;
}

header button:hover {
  background: none;
  color: #4a148c;
}

#div_logo {
  text-align: center;
  left: 50%;
  margin: 50px auto;
}

#dept_logo {
  width: 200px;
}

#contents {
  width: 1700px;
  height: 550px;
  overflow: hidden;
  text-align: center;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.left_side {
  width: 800px;
  height: 550px;
  overflow: hidden;
  display: inline-block;
}

.right_side {
  width: 800px;
  height: 550px;
  display: inline-block;
  /* border: 1px solid red; */
}

.navigation {
  position: absolute;
  margin-bottom: 10px auto;
  /* transform: translateX(70%); */
  display: flex;

  border: 1px solid red;
}

.bar {
  width: 50px;
  height: 10px;
  border: 1.5px solid #4a148c;
  border-radius: 25px;
  margin: 6px auto;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background: #4a148c;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0%;
}
#r2:checked ~ .s1 {
  margin-left: -20%;
}
#r3:checked ~ .s1 {
  margin-left: -40%;
}
#r4:checked ~ .s1 {
  margin-left: -60%;
}
#r5:checked ~ .s1 {
  margin-left: -80%;
}

#best_list {
  width: 780px;
  height: 530px;
  margin: 10px auto;
  border: 2px solid #4a148c;
}
